@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@100&display=swap');

$main-font: 'Poppins', sans-serif;
$secondary-font: 'Dancing Script', cursive;

// Extra small
$extra-small-max-width: 575.99px;

// Small
$small-min-width: 576px;

$small-max-width: 767.99px;

// Medium
$medium-min-width: 769px;

$Medium-max-width: 991.99px;

// Large
$large-min-width: 992px;

$large-max-width: 1199.98px;

// Extra large
 $extra-large-min-width: 1200px;